.Button {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 11px;
    transition: all .3s ease;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        pointer-events: none;
        touch-action: none;
        background-color: #eaeaea !important;
    }

    &__text {
        transition: all .3s ease;
        text-align: center;
        font-weight: 500;
        color: #fff;
    }
}

.Button.warning {
    background-color: var(--orange);
    border-color: var(--orange);
}

.Button.warning-tr {
    border-color: var(--orange);
    background-color: transparent;

    .Button__text{
        color: var(--orange);
    }

    &:hover {
        background-color: var(--orange);

        .Button__text {
            color: #fff;
        }
    }
}